<% content_for :page_title do %>
  <%= t(:listing_product_groups) %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_product_link">
    <%= button_link_to t(:new_product_group), new_object_url, { :remote => true, :icon => 'icon-plus', :id => 'admin_new_product_group' } %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>


<%= paginate @product_groups %>

<table class="index" id='listing_product_groups' data-hook>
  <thead>
    <tr data-hook="product_group_header">
      <th><%= Spree::ProductGroup.human_attribute_name(:name) %></th>
      <th><%= Spree::ProductGroup.human_attribute_name(:url) %></th>
      <th><%= Spree::ProductGroup.human_attribute_name(:product_scopes) %></th>
      <th><%= Spree::ProductGroup.human_attribute_name(:count) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @product_groups.each do |pg| %>
      <tr id="<%= dom_id pg %>" class="<%= cycle('odd', 'even') %>" data-hook="product_group_row">
        <td><%= link_to pg.name, [:admin, pg] %></td>
        <td><%= link_to pg_search_path(:product_group_name => pg.permalink), pg_search_path(:product_group_name => pg.permalink) %></td>
        <td><%== pg.product_scopes.map(&:to_sentence).join('<br />') %></td>
        <td><%= pg.products.count %></td>
        <td class="actions">
          <%= link_to_edit pg, :no_text => true, :class => 'edit' %>
          &nbsp;
          <%= link_to_delete pg, :no_text => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @product_groups %>
